.UsersBlock {
  margin: 15px;
  margin-left: 30px;
    display: grid;
    grid-template-areas: "q w e";
    width: 1200px;
    height: 100px;
    grid-template-columns: 15% 60% 15%; /* Указываем размеры вертикальных полос */
    grid-template-rows: 100%; /* Все элементы будут заполнять высоту родительского блока */
  }
  
  .ava {
    grid-area:q;
    background-color: blueviolet;
     /* Каждый блок будет заполнять всю высоту родительского */
  }
  
  .shortInfo {
    grid-area:w;
    background-color: rgb(48, 154, 173);
 
  }
  
  .follow {
    grid-area:e;
    background-color: aquamarine;
    padding: 40px;
  }
  .UsersBlock img{height: 70px; width: 70px; margin-top: 15px; margin-left: 50px;} 
.follow button{ height: 40px;width: 90px;}
.selectedPage{font-weight: bold;}
.loader{ width: 350px !important;}