.UsersBlock {
  margin: 25px;
  margin-left: 30px;
    display: grid;
    grid-template-areas: "q w e";
    width: 1200px;
    height: 100px;
    grid-template-columns: 15% 60% 15%; 
    grid-template-rows: 100%; 
  }
  
  .ava {
    grid-area:q;
    background-color: rgb(129, 55, 193);

  }
  
  .shortInfo {
    grid-area:w;
    background-color: rgb(48, 154, 173);
 
  }
  
  .follow {
    grid-area:e;
    background-color: aquamarine;
    padding: 40px;
  }
  .UsersBlock img{height: 70px; width: 70px; margin: 13px} 
.follow button{ height: 40px;width: 90px;}
.loader{ width: 350px !important;}